{% extends "base.html" %}
{% block content %}

<div class="dashboard-content">
    <div>
        <p >Hi! I am Wojciech Ignasiak</p>
        <div style="display: flex; font-size: large;">
            <p style="color: #4B8BBE; margin-right: 5px;">Python</p>
            <p style="color: #ffde57; margin-right: 5px;">Developer</p>
        </div>
        <div style="display: flex; font-size: large;">
            <p style="color: #4af626;"> _/\/\_(°)<</p>
            <p style="color: red;">~</p>
        </div>
        
    </div>
    <div>
        <img src="/../../static/img/WI2.png" alt="Wojciech Ignasiak" width="400" height="400" style="border-radius: 50%">
    </div>
</div>


{% endblock %}